@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <title>To Do List</title>
    <
        <h2>Welcome to the To Do List!</h2>

    <p>@Html.ActionLink("View Items", "Index", "Items")</p>


